{% extends 'insta/base.html' %}
{% block title %} Logout User {% endblock %}

{% block content %}
    <div class="content-section" 
        style="padding: 10px 20px;
                border: 1px solid #dddddd;
                border-radius: 3px;
                margin-bottom: 20px;
                margin-left: 25%;
                width: 35%;">
    <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
                <a class="vl"></a>
                <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            </small>
        </div>
    </div>

{% endblock %}